<nav class="navbar bg-primary">
  <div class="navbar" id="navbarMain">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button class="btn btn-primary nav-link" [routerLink]="['signin']" routerLinkActive="active">Connexion</button>
      </li>
    </ul>
  </div>
  <div class="navbar" id="navbarMain">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="btn btn-primary nav-link" [routerLink]="['signup']" routerLinkActive="active">Inscription</button>
      </li>
    </ul>
  </div>
<nav>
