<div class="container_info_profil">
  <div class="card">
    <h4 class="card-header">Informations musicales</h4>
    <div class="card-body">
      <div class="custom-control custom-checkbox musical_type_info">
        <input type="checkbox" class="custom-control-input" name="rock" id="music_type_rock">
        <label class="custom-control-label" for="music_type_rock">Rock</label>
      </div>
      <div class="custom-control custom-checkbox musical_type_info">
        <input type="checkbox" class="custom-control-input" name="rnb" id="music_type_rnb">
        <label class="custom-control-label" for="music_type_rnb">RNB</label>
      </div>
      <div class="custom-control custom-checkbox musical_type_info">
        <input type="checkbox" class="custom-control-input" name="classic" id="music_type_classic">
        <label class="custom-control-label" for="music_type_classic">Classique</label>
      </div>
    </div>
  </div>
</div>
