.center_container_profil{
  display: block;
  align-items: center;
  justify-content: center;
  height: 150vh;
}

.container_avatar{
  width: 100%;
  background-repeat: no-repeat;
  background-color: #5923A9;  /*seulement pour le test*/
}

.container_info_profil{
  display: inline-block;
  width: 45%;
  padding-left: 10%;
  margin-bottom: 5%;
}

#avatar_profil{
  display: block;
  height: auto;
  background-repeat: no-repeat;
}

#img_avatar_profil{
  height: 15rem;
  width: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  padding-top: 5rem;
}

#nom_profil{
  text-align: center;
  margin-bottom: 5%;
}

/* Mobile & Tablet Screens */
@media only screen and (max-width: 959px){
  .container_info_profil{
    display: block;
    width: 100%;
    margin-bottom: 5%;
    padding-left: 0%;
  }
}
