.container {
  padding: 0 !important;
}

.navbar {
  height: 3rem;
  border: 1px solid var(--primary);
  padding: 0 !important;
}

.nav-item {
  display: flex !important;
  width: 50%;
  height: 100%;
}

.nav-link {
  margin: auto;
}

.nav-link:hover {
  cursor: pointer;
}

/* mobile & tablet */
@media only screen and (max-width: 959px){
  .nav-item{
    z-index: 0;
  }
}

@media only screen and (min-width: 960px){
  .nav-item{
    z-index: 0;
  }
}
