.card{
  margin: 5em;
}

.form-group {
  padding-left: 22px;
  padding-right: 22px;
}

.card-body {
  padding-top: 1rem;
  padding-bottom: 0;
}

.card-footer {
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
}
