.card {
  max-width: 100%;
  width: auto;
  border-radius: 38px;
  border-radius: 38px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

#title_card_navbar{
  color: white;
}

table > tr > td > input[type="text"], table > tr > td > input[type="date"]{
  height: 2rem;
}

#btn_valider_info_profil{
  text-align: center;
}
