.card {
  max-width: 100%;
  width: auto;
  border-radius: 38px;
  border-radius: 38px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
}

#title_card_navbar{
  color: white;
}

table > tr > td > input[type="text"], table > tr > td > input[type="date"]{
  height: 2rem;
}

#btn_valider_info_profil{
  text-align: center;
}
.libelle{
  font-weight: bold;
}

/* mobile & tablet */
@media only screen and (max-width: 959px){
  #table_info_perso > tr > td{
    display: block;
    position: relative;
    z-index: 0;
  }
}


/* Tablet Landscape */
@media only screen and (min-width: 960px){
  #table_info_perso > tr > td{
    display: block;
    position: relative;
    z-index: 0;
  }
}
