$theme-colors: (
  primary: #471C86,
  success: #25861B,
  info: #1B5A86,
  warning: #86471B,
  danger: #df0b0b,
  carbon-primary: #161c20,
  carbon-secondary: #23232e,
  text-primary: #b6b6b6,
  text-secondary: #ececec,

) !default;
