.navbar {
  position: fixed;
  width: 16rem;
  padding: 1rem;
  top: 4rem;
  right: 5rem;
  bottom: 1.8rem;
  background-color: #ffffff;
  padding:0;
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding:0;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width:100%;
  border-left: 1px solid var(--primary);
}

.nav-item {
  width:100%;
  margin: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16rem;
  //color: var(--text-primary);
  text-decoration: none;
  //filter: grayscale(100%) opacity(0.7);
  transition: 600ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(0.35);
  background: var(--carbon-secondary);
  color: var(--text-secondary);
  transition: width 600ms ease;
}

.nav-link #pub {
  width: 14rem;
  min-width: 14rem;
  margin: 0 0.98rem;
}

#pub {
  background-image: url('/assets/img/Favicon.png');

  //margin: auto;

  /* make a square container */
  width: 14rem;
  height: 14rem;

  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;

  /* center the image vertically and horizontally */
  background-position: top center;

  /* round the edges to a circle with border radius 1/2 container size */
  //border-radius: 50%;
  border: 1px solid var(--primary);
}


/* Mobile & Tablet Screens */
@media only screen and (max-width: 959px){
  .navbar {
    display: none;
  }
}

